<h2>Upload File</h2>
@model ST10451547_CLDV7112_PROJECT1.Data.Entities.Document;
@{
    ViewData["Title"] = "Upload New File";
    ViewData["Title"] = "Create";
    var errorMessage = TempData[ST10451547_CLDV7112_PROJECT1.Controllers.DocumentController.ErrorMessageKey] as string;
    var successMessage = TempData[ST10451547_CLDV7112_PROJECT1.Controllers.DocumentController.SuccessMessageKey] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger  mb-2" role="alert">
        @errorMessage
    </div>
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success mb-2" role="alert">
        @successMessage
    </div>
}


<form asp-controller="Document" asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group file-upload">
        <label for="Upload">Upload File:</label>
        <input type="file" id="CustomerPicture" asp-for="Upload" name="Upload" />
    </div>
    <input type="submit" value="Upload New File" class="btn btn-primary" />
</form>
